body {
    background-color: 			#9A1515;
    background-image: 			url("../img/background.png");
    background-position: 		center top;
    background-repeat: 			repeat-x;
    margin:						20px 0 0 0;
}

div.container {
	background: white;
	border-radius: 10px;
	padding: 10px;
}