body {
    background-color: 			#9A1515;
    background-image: 			url("../img/background.png");
    background-position: 		center top;
    background-repeat: 			repeat-x;
    margin: 					20px 0;
    padding: 					0;
}

body, input, textarea, select, th, td {
    font-family: 				Verdana,Arial,Helvetica,sans-serif;
    font-size: 					8pt;
}

#containerDiv {
	width: 						960px;
	margin: 					0 auto;
}

.minifiy-label	{
	width: 						940px;
	height: 					16px;
	display:					block;
	background-color: 			#ffffff;
	padding:					4px 10px;
	-webkit-border-radius: 		4px 4px 0px 0px;
	-moz-border-radius: 		4px 4px 0px 0px;
	border-radius: 				4px 4px 0px 0px;
	margin-bottom: 				0px;
	color:						#9A1515;
	font-size:					16px;
	border-bottom: 				1px dashed #9A1515;
	margin-top: 				20px;
}

#javascript-to-minify {
	margin-top: 				0px;
	width: 						952px;
	height: 					400px;
	margin-bottom: 				20px;
	-webkit-border-radius: 		0px 0px 4px 4px;
	-moz-border-radius: 		0px 0px 4px 4px;
	border-radius: 				0px 0px 4px 4px;
	padding:					4px;
    border: 					none;
}

#minified-javascript {
	margin-top: 				0px;
	width: 						952px;
	height: 					400px;
	margin-bottom: 				20px;
	-webkit-border-radius: 		0px 0px 4px 4px;
	-moz-border-radius: 		0px 0px 4px 4px;
	border-radius: 				0px 0px 4px 4px;
	padding:					4px;
    border: 					none;
}

input {
	-webkit-border-radius: 		4px 4px 4px 4px;
	-moz-border-radius: 		4px 4px 4px 4px;
	border-radius: 				4px 4px 4px 4px;
    background-color: 			#E6E6E6;
    background-position: 		5px 50%;
    background-repeat: 			no-repeat;
    border: 					1px solid #A4A4A4;
    color:						#222222;
    cursor: 					pointer;
    font-size: 					14px;
    height: 					30px;
	width: 						300px;
    padding: 					3px 5px 7px 20px;
	margin: 					0 auto;
	font-weight: 				bold;
}

#minify-javascript {
	background-image: 			url("../img/bricks.png");
}


#minify-javascript.build {
	background-image: 			url("../img/header_loader.gif");
}